/*mobile-s: 600px*/
@media screen and (min-width: 600px) {
    .sidebar {
        width: var(--sidebar-width-2);
    }

    .center {
        width: calc(100% - var(--sidebar-width-2));
    }

    .sidebar-padding {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .small {
        display: none;
    }

    .big {
        display:inline-block;
    }
}

/*tablet-md: 700px*/
@media screen and (min-width: 700px) {
    .col {
        width: calc(100% / 4 - 30px / 4);
    }
}

/*desktop-lg: 1100px*/
@media screen and (min-width: 1100px) {
    .col {
        width: calc(100% / 6 - 50px / 6);
    }
}